@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-hub-background text-slate-900;
  font-family: "Inter", "Segoe UI", system-ui, -apple-system, sans-serif;
}

* {
  @apply border-hub-border;
}
